body {
background-color: #d2d2d2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: "Oswald", sans-serif;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], select, input[type="tel"], input[type="url"], input[type="password"] {
  font-family: "Oswald", sans-serif;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, select, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  background-color: #b4e0b6;
  border-radius: 0px;
}

label,
legend {
  font-family: "Oswald", sans-serif;
}

.circle--inline--list, .circle--header ul {
  font-family: "Oswald", sans-serif;
}

.circle--clone--list a {
  font-family: "Oswald", sans-serif;
}

.circle--pill--list a {
  font-family: "Oswald", sans-serif;
}

.circle--page--header p {
  font-family: "Oswald", sans-serif;
}

.circle--input--h1, input[type="email"].circle--input--h1, input[type="number"].circle--input--h1, input[type="search"].circle--input--h1, input[type="text"].circle--input--h1, select.circle--input--h1, input[type="tel"].circle--input--h1, input[type="url"].circle--input--h1, input[type="password"].circle--input--h1, input[type="email"].circle--input--h2, input[type="number"].circle--input--h2, input[type="search"].circle--input--h2, input[type="text"].circle--input--h2, select.circle--input--h2, input[type="tel"].circle--input--h2, input[type="url"].circle--input--h2, input[type="password"].circle--input--h2, input[type="email"].circle--input--h3, input[type="number"].circle--input--h3, input[type="search"].circle--input--h3, input[type="text"].circle--input--h3, select.circle--input--h3, input[type="tel"].circle--input--h3, input[type="url"].circle--input--h3, input[type="password"].circle--input--h3, input[type="email"].circle--input--h4, input[type="number"].circle--input--h4, input[type="search"].circle--input--h4, input[type="text"].circle--input--h4, select.circle--input--h4, input[type="tel"].circle--input--h4, input[type="url"].circle--input--h4, input[type="password"].circle--input--h4, input[type="email"].circle--input--h5, input[type="number"].circle--input--h5, input[type="search"].circle--input--h5, input[type="text"].circle--input--h5, select.circle--input--h5, input[type="tel"].circle--input--h5, input[type="url"].circle--input--h5, input[type="password"].circle--input--h5, input[type="email"].circle--input--h6, input[type="number"].circle--input--h6, input[type="search"].circle--input--h6, input[type="text"].circle--input--h6, select.circle--input--h6, input[type="tel"].circle--input--h6, input[type="url"].circle--input--h6, input[type="password"].circle--input--h6 {
  font-family: "Oswald", sans-serif;
}

.circle--input--h2 {
  font-family: "Oswald", sans-serif;
}

.circle--input--h3 {
  font-family: "Oswald", sans-serif;
}

.circle--input--h4 {
  font-family: "Oswald", sans-serif;
}

.circle--input--h5 {
  font-family: "Oswald", sans-serif;
}

.circle--input--h6 {
  font-family: "Oswald", sans-serif;
}

.circle--section > p {
  font-family: "Oswald", sans-serif;
}

.circle--header {
background: #484848;
}

.button {
  color: #fff;
  background-color: #484848;
}

.button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary,
button.button-primary {
  background-color: #484848;
}
